@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Puedes definir estilos globales */
@theme {
  --font-sans: 'Poppins', sans-serif;
  --color-primary: #f97316; /* naranja cálido */
  --color-secondary: #8C5E3C; /* café */
  --color-bg: #FFF5E4; /* beige */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
